* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
// 	html {
// 		color-scheme: dark;
// 	}
// }

html {
	color-scheme: dark;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
	padding-inline: 20px;
}
